
.modal-container{
    background-color: #33333370;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}
.modal{
    background-color: var(--yellow);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 500px;
    padding: 15px 25px;
    display: flex;
    justify-content: flex-end;
}
.modal-dialog{
    width: 100%;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-title{
    font-size: 1.6rem;
    font-weight: bold;
}
.modal-header button{
    border: none;
    background: none;
    font-size: 1.6rem;

}
.sr-only{
    display: none;
}
.price{
    color: #66666690;
}
.description{
    margin: 20px 0;
}
.modal-footer{
    position: absolute;
    bottom: 10px;
    right: 25px;
}
.modal-footer button{
    box-shadow: 3px 3px #33333330;
	border: 0;
    background-color: var(--cyan);
    color: #333;
    font-size: 1.0rem;
    padding: 10px 25px;
    border-radius: 5px;
}
.modal-footer button:hover{
    background-color: var(--blue);
}
.modal-body fieldset{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}
.modal-body label{
    margin-bottom: 10px;
}