.section_login{
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e5e5e5;
}
.form_login_container{
    background-color: #c6c6c6;
    width: 300px;
    margin-right: -150px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_login_container .form_title_div{
    margin-bottom: 50px;
    margin-top: -50px;
}
.form_login_container a{
    text-decoration: none;
    font-size: 32px;
    width: fit-content;
    font-weight: bolder;
    color: #333;
}
.form_login_container fieldset{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}
.form_login_container > div:last-of-type{
    margin: 60px 30px;
    width: 90%;
}