.landing_subtitle{
    text-align: center;
    color: #fafafa;
    font-size: 1.2rem;
    margin-top: 20px;
}
.section_main_landing{
    padding: 100px 0 300px 0;
    background-color: var(--purple);
}
.cards_auth_image{
    /* background-color: #666; */
    width: 100%;
    height: 150px;
}
.cards_auth_landing{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 350px;
    background-color: var(--yellow);
    border-radius: 15px;
}
.div_auth_cards{
    display: flex;
    max-width: 1024px;
    justify-content: space-around;
    margin: -130px auto 0 auto;
    padding-bottom: 70px;
}
.cards_auth_landing div:last-of-type{
    display: flex;
    flex-direction: column;
    /* height: 100%; */

}
.cards_auth_landing div > p{
    font-weight: bold;
    margin: 15px 0 5px 10px;
}
.cards_auth_landing div a{
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 32px;
    font-weight: bolder;
    text-decoration: none;
    color: #333;
}