.table_main{
    display: flex;
    flex-direction: column;
}
.table_row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;   

}
.table_row{
    padding: 20px 5px;
    background-color: var(--blue);
}
.table_row:nth-child(2n){
    background-color: #f5f5f5;
}
.first_row{
    font-weight: bolder;
    background-color: var(--yellow);

}
.table_main > div:last-child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--yellow);
}

.table_main > div:last-child > button{
    border: none;
    background: none;
    font-weight: bolder;
    padding: 10px 0;

}