.index_grid_restaurant{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
    margin-top: 60px;
}
.info_checkin{
    text-align: center;
}
/* .index_grid_item{
    background-color: var(--orange);
    padding: 10px;
    display: flex;
} */
.index_grid_item:hover{
    background-color: rebeccapurple;
}
.index_grid_item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurantName{
    font-weight: 600;

}
.restaurantTypeFood{
    font-weight: 100;
}

.restaurantLogo{
    background-color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.restaurant_image{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #666;
}

.section_restaurant{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_restaurant h3{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}
.section_restaurant p{
    margin: 5px;
}
/* .restaurant.main_container{
    position: relative;
} */
