header{
    background-color: var(--purple);
}

header .main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-ceb{
    max-height: 80px;
    padding: 10px 0;
}

.home-button-login{
    border: 0;
    background-color: var(--cyan);
    color: #333;
    font-size: 1.0rem;
    padding: 10px 25px;
    border-radius: 5px;
}
.home-button-login:hover{
    background-color: var(--blue);
}